<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <main class="container">
        <h1>4d6d1</h1>
        <form @submit.prevent="rulla">
            <label for="rullinput">Antal rull </label>
            <input id="rullinput" v-model="antal">
            <button>Rulla</button>
        </form>
        <h3 v-if="kvot">andel</h1>
        <div  v-if="kvot"><span style="margin-right: 10px" v-for="(item, index) in kvot">{{index+3}}: {{item}}</span></div>
        <h3 v-if="snitt">Snitt {{snitt}}</h1>
        <div  v-if="snitt"><span v-for="summa in res">{{summa}}, </div></div>
    </main>
</div>


<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                antal: 10000,
                res: [],
                snitt: null,
                kvot: null
            }
        },
        methods: {
            rulla() {
                this.res = [];
                this.kvot = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];

                for (let i = 0; i < this.antal; i++) {
                    let arr = [Math.floor(Math.random() * 6) + 1, Math.floor(Math.random() * 6) + 1, Math.floor(Math.random() * 6) + 1, Math.floor(Math.random() * 6) + 1];
                    let val = arr.sort().slice(1).reduce((p, c) => p + c);
                    this.kvot[val-3]=this.kvot[val-3]+1;
                    this.res.push(val);
                }
                this.snitt = this.res.reduce((p, c) => p + c) / this.res.length;
                this.kvot = this.kvot.map(i=> i * 100 / this.antal +"%");

            }

        }

    }).mount('#app')


</script>