html {
  background: #181a1b;
  color: #e1e1e1;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  font-size: 20px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .header {
      display: flex;
      justify-content: center;
    }
    .content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
a {
  color: #66d;
}
a:visited {
  color: #88f;
}
.d-none {
  display: none;
}
